<script type='text/javascript'
    src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

<script type='text/javascript' src="/scrips/Reportes.js"></script>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h3 class="mb-3 m-4">Reportes</h3>
</div>

<div class="row">
    <div class="col-md-12 mx-auto ">
        <div class="card m-2 p-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-md-3 ">
                        <label class="d-none d-sm-block" for="FechaDesde">Fecha de vencimiento </label>
                        <label class="d-block d-sm-none" for="FechaDesde">F.Ven</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control SelectorF" name="FechaDesde" id="FechaDesde"
                                required>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4  ">
                        <label class="d-none d-sm-block" for="FechaHasta">Fecha de vencimiento </label>
                        <label class="d-block d-sm-none" for="FechaHasta">F.Ven</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control SelectorF" name="FechaHasta" id="FechaHasta"
                                required>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-3">

                        <div class="col-8">
                            <label for="Proveedor">Proveedor</label>
                            <select id="PoCSelR" class="selectpicker" data-live-search="true">
                            </select>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


</div>


<table id="DetalleReporte" data-height="800" data-toggle="table" data-toolbar="#toolbar" data-detail-view="true"
    data-detail-view-icon="true" data-detail-formatter="Reporte_Detalle" data-ajax="Reporte_Data"
    data-pagination-parts="['pageList]" data-page-size="25" data-pagination="true" data-query-params="queryParams">
    <thead>
        <tr>
            <th data-field="Documento">Documento</th>
            <th data-field="Nombre">Cliente</th>
            <th data-field="FechaEmision">Fecha Emision</th>
            <th data-field="Total">Total Tran</th>
            <th data-field="TotalSP">Total Prov</th>
            <th data-field="FechaEmision">Fecha Emision</th>
            {{!-- <th data-field="operate" data-formatter="Reporte_Ops" data-events="Reporte_Events"></th> --}}
        </tr>
    </thead>
</table>

<script>


    $(document).ready(()=>{
        LlenarProv();
    });

    function LlenarProv() {
        url = '/inv/Prov'
        var htmlsel = ['<option selected>---Seleccione el proveedor---</option>'];

        htmlsel.push()

        $.get(url).then(function (res) {

            $('#PoCSelR').empty();
            for (i = 0; i < res.length; i++) {

                $('#PoCSelR').append(`<option  value ="${res[i].NitoCC}" data-subtext="${res[i].NitoCC}">${res[i].Nombre}</option`).selectpicker('refresh');
                //console.log(i);
            }

            $('#PoCSelR').val('-').selectpicker('refresh');

        });

    }

    
    
</script>