<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Example 1</title>
  <link rel="stylesheet" href="style.css" media="all" />
</head>

<body>
  <header class="clearfix">
    <div id="logo">
      <img src="/img/logogrey.png">
    </div>
    <h1>INVOICE 3-2-1</h1>
    <div id="company" class="clearfix">
      <div>Company Name</div>
      <div>455 Foggy Heights,<br /> AZ 85004, US</div>
      <div>(602) 519-0450</div>
      <div><a href="mailto:company@example.com">company@example.com</a></div>
    </div>
    <div id="project">
      <div><span>PROJECT</span> Website development</div>
      <div><span>CLIENT</span> John Doe</div>
      <div><span>ADDRESS</span> 796 Silver Harbour, TX 79273, US</div>
      <div><span>EMAIL</span> <a href="mailto:john@example.com">john@example.com</a></div>
      <div><span>DATE</span> August 17, 2015</div>
      <div><span>DUE DATE</span> September 17, 2015</div>
    </div>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th class="desc">ITEM </th>
          <th class="desc">DETALLE </th>
          
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="unit" rowspan="2"> 1</td>
          <td colspan="6" class="desc">JABON ENZIMATICO ANIOZIME PABA SB -25G</td>
        </tr>
        <tr>
          <td class="unit">Precio</td>
          <td class="unit">4000</td>
          <td class="unit">CNT</td>
          <td class="unit">3</td>
          <td class="unit">Total</td>
          <td class="unit">1000</td>
        </tr>

        <tr>
          <td class="unit" rowspan="2"> 2</td>
          <td colspan="6" class="desc">JABON ENZIMATICO ANIOZIME PABA SB -25G</td>
        </tr>
        <tr>
          <td class="unit">Precio</td>
          <td class="unit">4000</td>
          <td class="unit">CNT</td>
          <td class="unit">3</td>
          <td class="unit">Total</td>
          <td class="unit">1000</td>
        </tr>

        <tr>
          <td colspan="4">SUBTOTAL</td>
          <td colspan="2" class="total">$18.900.000</td>
        </tr>
        <tr>
          <td colspan="4">IVA 19%</td>
          <td colspan="2" class="total">$0</td>
        </tr>
        <tr>
          <td colspan="4" class="grand total">TOTAL</td>
          <td colspan="2" class="grand total">$18.900.000</td>
        </tr>
      </tbody>
    </table>
    <div id="notices">
      <div>NOTICE:</div>
      <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
    </div>
  </main>
  <footer>
    Invoice was created on a computer and is valid without the signature and seal.
  </footer>
</body>

</html>