.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  a {
    color: #5D6975;
    text-decoration: underline;
  }
  
  body {
    position: relative;
    overflow-x: hidden;
    width: 900px;  
    height: auto; 
    margin: 0 10px; 
    color: #000000;
    background: #FFFFFF; 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
    font-family: Arial;
  }
  
  header {
    padding: 10px 0;
    margin-bottom: 30px;
  }
  
  #logo {
    text-align: center;
    margin-bottom: 10px;
  }
  
  #logo img {
    width: 90px;
  }
  
  h1 {
    border-top: 1px solid  #5D6975;
    border-bottom: 1px solid  #5D6975;
    color: #000000;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
    background: url(dimension.png);
  }
  
  #project {
    float: left;
  }
  
  #project span {
    color: #000000;
    text-align: right;
    width: 100px;
    margin-right: 10px;
    display: inline-block;
    font-size: 1em;
  }
  
  #company {
    float: right;
    text-align: right;
    margin:0px 0px 30px 30px;
  }
  
  #project div,
  #company div {
    white-space: nowrap;        
  }
  
  table {
    width: 800px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    margin: 20px auto  20px auto ;
  }
  
  table tr:nth-child(2n-1) td {
    background: #F5F5F5;
  }
  
  table th,
  table td {
    text-align: center;
  }
  
  table th {
    padding: 1px 1px;
    color: #000000;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;        
    font-weight: normal;
    font-size: 0.8em;
  }
  
  table .service,
  table .desc {
    text-align: left;
    font-size: 0.8em;
  }
  
  table td {
    padding: 2px;
    text-align: center;
  }
  
  table td.service,
  table td.desc {
    vertical-align: top;
  }
  
  table td.unit,
  table td.qty,
  table td.total {
    font-size: 0.8em;
  }
  
  table td.grand {
    border-top: 1px solid #5D6975;;
  }
  
  #notices .notice {
    color: #000000;
    font-size: 1em;
  }
  
  footer {
    color: #000000;
    width: 100%;
    height: 30px;
    position: relative;
    bottom: 0;
    border-top: 1px solid #C1CED9;
    padding: 8px 0;
    text-align: center;
  }