<main class="index">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Dashboard</h1>
            <h3 class="mb-5">
                <em> inicial el juego desde nuevarama </em>
                <p>esta vez si lo vamos a lograr</p>
            </h3>
            <a href="/signin" class="btn btn-primary">
                inicie
            </a>
            
        </div>

    </header>

</main>